/build

*.class
*.jar
*.war
*.ear
*target*

.classpath
.project
.settings/

GestionLivreBase/genereWS.bat
GestionLivreBase/war/WEB_INF/lib
GestionLivreBase/war/WEB_INF/classes
GestionLivreBase/war/WEB_INF/appengine-generated